<mat-card class="search-panel-container">
    <h2 class="search-panel-list-header">Search panel</h2>
    <mat-form-field class="full-width">
        <input [(ngModel)]="keyWord"
               #searchInput
               matInput
               placeholder="Search for keywords ... "
               autocomplete="off">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="isCheckBoxChecked"
                  (change)="getCompletedOnly($event)">
        Completed only
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="isSortByDateChecked"
                  class="ml-3"
                  (change)="sortByDate($event)">
        <span>Sort by date </span>
        <span [textContent]="isSortByDateChecked ? ' from new to old' : ' from old to new'"></span>
    </mat-checkbox>
</mat-card>