<mat-card *ngIf="todo$ | async as todo">
    <h2 [textContent]="todo.name"></h2>
    <div [textContent]="todo.date | date: 'dd.MM.yyyy'"></div>
    <div [textContent]="todo.description"></div>
    <div [textContent]="todo.isComplete ? 'Completed' : 'Not completed'"></div>
    <div>
        <button (click)="backToList()" mat-raised-button color="primary">Back to list</button>
    </div>
</mat-card>
