<ng-container *ngIf="todoList$ | async as todoList">
    <div class="d-flex justify-content-end pt-3 pr-3">
        <button mat-raised-button (click)="logout()" color="primary">Logout</button>
    </div>
    <app-todo-list  [todoList]="todoList"></app-todo-list>
</ng-container>

