.todo-title {
  font-size: 16px;
  color: darkgrey;
}

.description {
  font-size: 12px;
}

.completed {
  font-size: 16px;
}

i {
  font-size: 16px;
  cursor: pointer;

  &.red {
    color: red;
  }

  &.blue {
    color: blue;
  }

}

.name {
  cursor: pointer;
}