<th scope="row" [textContent]="index + 1"></th>
<td>
    <span class="name" (click)="navigateToDetails()" [textContent]="todo.name"></span>
</td>
<td [textContent]="todo.description"></td>
<td>
    <mat-checkbox (change)="marckAsCompleted($event)" [(ngModel)]="todo.isCompleted">
                <span [style.color]="todo.isCompleted ? 'green' : 'red'"
                      [textContent]="todo.isCompleted ? 'Completed' : 'Pending'">
                </span>
    </mat-checkbox>
</td>
<td [textContent]="todo.date | date: 'dd MM yyyy'"></td>
<td>
    <i class="material-icons red" (click)="deleteTodo()">
        delete_forever
    </i>
    <i class="material-icons blue" (click)="openDialog()">
        create
    </i>
</td>