<h2 class="add-todo-header">Add todo</h2>
<form [formGroup]="addTodoForm" (submit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput
               placeholder="Name"
               autocomplete="off"
               formControlName="name">
        <mat-error *ngIf="addTodoForm.controls['name'].hasError('required')">
            This field is required!
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input formControlName="date"
               matInput [min]="minDate"
               required
               [matDatepicker]="picker"
               placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea formControlName="description"
                  rows="5"
                  matInput
                  #description
                  maxlength="150"
                  placeholder="Leave a comment"></textarea>
        <mat-hint align="end">{{description.value.length}} / 150</mat-hint>
    </mat-form-field>
    <div class="d-flex mt-4 justify-content-end">
        <button mat-button (click)="closeWindow()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!addTodoForm.valid && !addTodoForm.dirty">
            <span [textContent]="data ? 'Edit todo' : 'Add todo'"></span>
        </button>
    </div>
</form>