<app-search-panel (checkBoxEvent)="searchForCompleted($event)"
                  (sortByDateEvent)="sortByDate($event)"
                  (searchEvent)="searchTodoBeKeyWord($event)"></app-search-panel>
<mat-card class="todos-list-container">
   <div class="list-header d-flex justify-content-between align-items-center ">
       <h2 class="todo-list-header">My todos</h2>
       <button mat-raised-button color="primary"
               (click)="openDialog()">
           Add TODO
       </button>
   </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <app-todo-item [style.display]="'table-row'"
                       (editTodoEvent)="editTodoInArray($event)"
                       (deleteTodoEvent)="deleteTodo($event)"
                       [index]="i"
                       [todo]="todo"
                       *ngFor="let todo of todoListForDisplay; let i = index;">
        </app-todo-item>
        </tbody>
    </table>
</mat-card>
